{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="aboutus">
        <h2>Про нас</h2>
        <p>Ми - компанія, яка спеціалізується на продажу та оренді нерухомості вже понад 10 років. Наша місія - допомогти вам знайти найкраще житло чи комерційний об'єкт, що відповідає вашим вимогам. Ми працюємо як з покупцями, так і з орендарями, гарантуючи професійну допомогу на кожному етапі – від вибору об'єкта до підписання угоди. Ми прагнемо створювати довготривалі взаємовигідні стосунки з нашими клієнтами, забезпечуючи індивідуальний підхід та персоналізовану підтримку.</p>
        <div class="tiles-container">
            <div class="tile">
                <h3>Наш досвід</h3>
                <p>Ми маємо понад 10 років досвіду на ринку нерухомості, що дозволяє нам бути на крок попереду конкурентів. Наші фахівці регулярно проходять навчання, щоб бути в курсі останніх тенденцій на ринку та надавати найбільш актуальні і точні поради нашим клієнтам. Ми успішно реалізували безліч проектів, як для приватних осіб, так і для бізнесу, віддаючи перевагу високій якості сервісу та клієнтському задоволенню.</p>
            </div>
            <div class="tile">
                <h3>Широкий вибір</h3>
                <p>У нашому портфоліо ви знайдете понад 500 об'єктів нерухомості: від квартир та будинків до комерційних приміщень і земельних ділянок. Ми працюємо з різними сегментами ринку: від бюджетного житла до елітних об'єктів. Вибір наших клієнтів охоплює не тільки різноманітність типів об'єктів, але й широкий географічний діапазон, що дозволяє знайти ідеальний варіант у будь-якому куточку країни.</p>
            </div>
            <div class="tile">
                <h3>Індивідуальний підхід</h3>
                <p>Ми віримо, що кожен клієнт має свої унікальні вимоги та потреби. Тому ми працюємо за індивідуальною методикою, що дозволяє знайти саме те, що відповідає вашим запитам. Ми уважно слухаємо, консультуємо, пропонуємо кілька варіантів і допомагаємо прийняти оптимальне рішення, яке відповідає вашим фінансовим можливостям та бажанням. Для нас важливо не лише здійснити продаж чи оренду, а й допомогти клієнту почуватися впевнено та комфортно на кожному етапі угоди.</p>
            </div>
        </div>
    </div>
{% endblock %}
