{% extends 'main/layout.html' %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="loginq">
    <h2>Реєстрація</h2>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
            {{ f }}
        </p>
        <div class="form-error">
            {% for error in f.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-register">Зареєструватися</button>
    </form>
</div>
{% endblock %}
